/*=== Align elements ListJedi ===*/

.divAlignItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 50%;
}


/*=== Jedi List ===*/

ul {
    padding: 0;
}

li {
    list-style: none;
}

/*==== ReactCSSTransition ====*/

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}